{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<center>
<small>
This blog is a participant in the Amazon Associate Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.
</small>
</center>

<!--
<script>
    var BestAzon_Configuration = {
        "Amzn_AfiliateID_US": "redken08-20",
        "Amzn_AfiliateID_CA": "",
        "Amzn_AfiliateID_GB": "redken01-21",
        "Amzn_AfiliateID_DE": "redken02-21",
        "Amzn_AfiliateID_FR": "redken012-21",
        "Amzn_AfiliateID_ES": "redken-21",
        "Amzn_AfiliateID_IT": "redken00-21",
        "Amzn_AfiliateID_JP": "",
        "Amzn_AfiliateID_IN": "",
        "Amzn_AfiliateID_CN": "",
        "Amzn_AfiliateID_MX": "",
        "Amzn_AfiliateID_BR": "",
        "Conf_Custom_Class": " BestAzon_Amazon_Link ", //enter if you'll like to add any CSS class to the Amazon links (can be used for styling)
        "Conf_New_Window": "1", //enter "1" if you'll like to open Amazon links in new window (recommended), "2" to force open in the same window, keep blank if you'd use the defaults
        "Conf_Link_Follow": "1", //enter "1" if you'll like to add no-follow to the Amazon links (recommended), "2" to not add no-follow
        "Conf_Product_Link": "1", //enter "1" if you'll like to redirect international visitors to equivalent search page on local Amazon stores (recommended and fast), "2" if you want them to go to equiavalent product page (slow)
        "Conf_Tracking": "1", //enter "1" if you'll like to enable tracking (useful to optimize the service to you), "2" to disable
        "Conf_Footer": "1", //enter "1" to add credit in footer (recommended), "2" to disable
        "Conf_Link_Keywords": "", //enter additional keywords - if any of these keywords is found in any URL on your site, that will be sent to Bestazon for localization (useful if you use short links like bitly to hide your affiliate links). E.g. enter "/amazon/" if all your Amazon links containt the string /amazon/
        "Conf_Hide_Redirect_Link": "1", //enter "1" to not replace your original link with bestazon links (recommended), "2" if you want to replace (not recommended)
        "Conf_Source": "BestAzonScript" //DO NOT CHANGE THIS
        };

</script>
<script async src="https://bestazon.io/script/BestAzonScript.js"></script> -->
